.header {
  background-color: #365271;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.header__title {
  color: white;
  margin-left: 2rem;
}

.header__button-container {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.header__button-container button {
  margin: 0rem 0.75rem;
}
