.webpage-header {
  background-color: #365271;
  display:flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.header__title {
  color: white;
  margin-left: 2rem;
}

.header__button-container {
  display:flex;
  align-items: center;
  margin-right: 2rem;
}

.header__add-button {
  color: white;
  background-color: green;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display:flex;
  align-items: center;
  font-size:medium;
  border-radius: 5%;
  border-width: 0px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.header__add-button:hover {
  background-color:black;
  cursor: pointer;
}
