.card-container {
  justify-content: center;
  margin-left: 4rem;
  margin-right: 4rem;
}


.employee__name {
  color: #365271;
  font-size: 30px;
  font-weight: bold;
}

.employee__details {
  color: #365271;
  font-size: 26px;
  font-weight: 450;
}

.footer {
  margin-top: 2rem;
  color: #365271;
  font-size: 26px;
  font-weight: 450;
}