.card-container {
  justify-content: center;
  margin-left: 4rem;
  margin-right: 4rem;
}

@media only screen and (max-width: 699px) {
  .card-container {
    margin: 0.5rem;
  }
}

.employee__name {
  color: #365271;
  font-size: 30px;
  font-weight: bold;
}

.employee__details {
  color: #365271;
  font-size: 26px;
  font-weight: 450;
}
