nav {
  display: flex;
}

.paginator {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.paginator__page-number {
  border-radius: 5%;
  list-style: none;
  display: flex;
  border-width: 1px;
  justify-content: center;
}

.paginator__button {
  margin-right: 0.25rem;
  cursor: pointer;
  border: none;
  height: 35px;
  width: 35px;
  background-color: aliceblue;
}

.paginator__button.selected {
  background-color: #bde0ff;
}

.paginator__button:hover {
  background-color: beige;
}

.paginator__button.disabled {
  background-color:gainsboro;
  cursor: default;
}